{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{#{% extends base_template %}#}
{% extends 'MinsalSiblhBundle:CRUD:base_edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {# bootstrap-table #}
    <link href="{{ asset('bundles/minsalsiblh/plugin/bootstrap-table-master/dist/bootstrap-table.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
    
    {# bootstrap-modal #}

    {# bootstrap sweetalert #}
    <link href="{{ asset('bundles/minsalsiblh/plugin/bootstrap-sweetalert-master/dist/sweetalert.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsiblh/css/sweetalert.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% use 'MinsalSiblhBundle:BlhFrascoProcesadoAdmin:base_edit_form.html.twig' with form as parentForm %}

{% block form %}

    <div class="mix-one-bottle">
        {{ block('parentForm') }}
    </div>
    <div class="mix-multiple-bottles">
        <div class="col-lg-12 col-md-12 col-sm-12"> <!-- form block -->
            {#<div class="col-lg-12 col-md-12 col-sm-12">#}
                <div class="box box-drop-outside-shadow box-success-v4">
                    <div class="box-header">
                        <h4 class="box-title">
                            <span class="text-black-thrash">Distribuir frasco recolectado según curva de pasteurización</span>
                        </h4>
                    </div>
                    <div class="box-body">
                        {% include 'MinsalSiblhBundle:BlhFrascoProcesadoAdmin:form_mix_batch_bottles.html.twig' %}
                    </div>
                </div>
            {#</div>#}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# bootstrap-table #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsiblh/plugin/bootstrap-table-master/dist/bootstrap-table.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsiblh/plugin/bootstrap-table-master/dist/locale/bootstrap-table-es-CR.min.js') }}" ></script>
    
    {# bootstrap-modal #}

    {# bootstrap sweetalert #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsiblh/plugin/bootstrap-sweetalert-master/dist/sweetalert.min.js') }}" ></script>
{% endblock %}