{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<div class="panel panel-default">
    <div class="panel-body">
        <!-- <center> -->
            <div class="btn-toolbar" role="toolbar" aria-label="..." style="display: table;">
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-sm btn-xray-awesome-blue btn-bigger-glyphicon-icon" href="javascript:void(0)" onclick="BATCH_{{ admin.uniqId }}_back_to_form_link(this); return false;" name="BATCH_{{ admin.uniqId }}_back_to_form" id="BATCH_{{ admin.uniqId }}[back_to_form]" ><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
                </div>
            </div>
        <!-- </center> -->
    </div>
</div>

<form class="form-horizontal" role="form" action="{{ admin.generateUrl('splitBottle', {}) }}" method="POST" novalidate="novalidate" id="BATCH_{{ admin.uniqId }}_split_bottle_form" name="BATCH_{{ admin.uniqId }}[split_bottle_form]" enctype="multipart/form-data">
    <div class="row"> <!-- row block -->
        <div class="col-lg-12 col-md-12 col-sm-12"> <!-- form block -->
            <table {#data-toggle="table" #} class="table table-condensed table-hover table-xray-supreme-head blh-bsfixedtable" id="BATCH_MIX_BOTTLES_{{ admin.uniqId }}_blh_mixed_bottle_target_bstable" name="BATCH_MIX_BOTTLES_{{ admin.uniqId }}_blh_mixed_bottle_target_bstable"
                    data-id-field="id"
                    data-cache="false"
                    data-show-columns="false"
                    data-search="false"
                    data-pagination="false"
                    data-pagination-h-align="left"
                    data-pagination-detail-h-align="right"
                    data-page-list="[15, 25, 30]"
                    data-page-size="15"
                    data-classes="table table-condensed table-hover table-xray-supreme-head blh-bsfixedtable"
                    data-buttons-class="xray-awesome-blue"
                    data-search-align="left"
                    data-buttons-align="left"
                    data-toolbar-align="right">
                <thead>
                    <tr>
                        <th data-align="center" data-halign="center" data-valign="middle"></th>
                        <th>Cód. (fco.)</th>
                        <th class="bstable-column-highlighted">Vol. (ml)</th>
                        <th>Vol. (oz)</th>
                        <th>Acidez</th>
                        <th>Kcalorías</th>
                        <th class="bstable-column-highlighted">Vol. Disponible (ml)</th>
                        <th>Combinación</th>
                        <th>Observación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td></td></tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default" style="margin-top: 20px;">
                <div class="panel-body">
                    <!-- <center> -->
                        <div class="btn-toolbar" role="toolbar" aria-label="..." style="display: table;">
                            <div class="btn-group" role="group" aria-label="...">
                                <button class="btn btn-sm btn-xray-awesome-blue" type="submit" name="btn_split_bottles"><span class="glyphicon glyphicon-send"></span> Enviar</button>
                            </div>
                        </div>
                    <!-- </center> -->
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">

    var BATCH_{{ admin.uniqId }}_back_to_form_link = function(el) {
        jQuery('.mix-one-bottle').show();
        jQuery('.mix-batch-bottles').hide();
        jQuery('#BATCH_MIX_BOTTLES_{{ admin.uniqId }}_blh_mixed_bottle_target_bstable').bootstrapTable('destroy');
        jQuery('#BATCH_MIX_BOTTLES_{{ admin.uniqId }}_blh_mixed_bottle_target_bstable tbody').html('');
    };

    // jQuery(document).ready(function() {
    //     ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //     //////// collected bottles table
    //     ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    //     ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // });

</script>