{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if choices is defined and choices|length < 15 %}
    <div class="alert alert-warning alert-dismissible help-alert-radiology-result-status no-diagnosis-request" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"> Cerrar </span></button>
        <span>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>&nbsp; Si el lote no puede crearse por deficit, consulte frascos para análisis en el menú <a class="btn-link btn-link-primary-v4" href="{{ path('siblh_donacion_create') }}">Consultar donaciones</a>
        </span>
    </div>
{% endif %}

<div class="panel panel-default">
    <div class="panel-body">
        <center>
            <div class="btn-toolbar" role="toolbar" aria-label="..." style="display: table;">
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-sm btn-xray-awesome-blue btn-bigger-glyphicon-icon" href="javascript:void(0)" onclick="generateAutomaticBatchOfBottles(this); return false;" name="BATCH_{{ sonata_admin.admin.uniqId }}_generate_automatic_batch_of_bottles" id="BATCH_{{ sonata_admin.admin.uniqId }}_generate_automatic_batch_of_bottles" {#disabled="disabled"#}><span class="glyphicon glyphicon-list-alt"></span> Lote automático</a>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-sm btn-success-v3 btn-bigger-glyphicon-icon" href="{{ path('siblh_donacion_create') }}"><span class="glyphicon glyphicon-pushpin"></span> Registrar donación</a>
                </div>
            </div>
        </center>
    </div>
</div>

<table data-toggle="table"{# #} class="table table-condensed table-hover table-xray-supreme-head blh-bsfixedtable" id="blh_collected_bottle_target_bstable" name="blh_collected_bottle_target_bstable"
        data-id-field="id"
        data-cache="false"
        data-show-columns="true"
        data-search="true"
        data-pagination="true"
        data-pagination-h-align="left"
        data-pagination-detail-h-align="right"
        data-page-list="[15, 25, 30]"
        data-page-size="15"
        data-classes="table table-condensed table-hover table-xray-supreme-head blh-bsfixedtable"
        data-buttons-class="xray-awesome-blue"
        data-search-align="left"
        data-buttons-align="left"
        data-toolbar-align="right">
    <thead>
        <tr>
            <th style="vertical-align: middle; text-align: center;"><input type="checkbox" id="BATCH_{{ sonata_admin.admin.uniqId }}_loteAnalisisFrascoRecolectado_all" name="BATCH_{{ sonata_admin.admin.uniqId }}[loteAnalisisFrascoRecolectado][all]"></th>
            <th>Donante</th>
            <th>Cód. (Donante)</th>
            <th>Cód. (Donación)</th>
            <th class="bstable-column-highlighted">Cód. (fco.)</th>
            <th class="bstable-column-highlighted">Vol. (ml)</th>
            <th>Vol. (oz)</th>
            <th>Extracción</th>
            <th>Mezclas</th>
            <th>Fecha Reg.</th>
        </tr>
    </thead>
    <tbody>
{#
        <!-- {% for i in 100..115 %}
            <tr>
                <td style="vertical-align: middle; text-align: center;"><input type="radio" id="{{ sonata_admin.admin.uniqId }}_idFrascoRecolectado_{{ loop.index - 1 }}" name="{{ sonata_admin.admin.uniqId }}[idFrascoRecolectado]" value="{{ i }}"></td>
                <td>LOPEZ RAMIREZ, PRIMER NOMBRE298900 SEGUNDO NOMBRE298900</td>
                <td>LOPEZ RAMIREZ, PRIMER NOMBRE298900 SEGUNDO NOMBRE298900</td>
                <td>LOPEZ RAMIREZ, PRIMER NOMBRE298900 SEGUNDO NOMBRE298900</td>
            </tr>
        {% endfor %} -->
#}

{#
        <!-- {% for child in form if choices[child.vars.value].data is defined %} -->
#}
        {% for child in form %}
            {% set s = choices[child.vars.value].data %}
            {% set form_widget_content %}
                {{ form_widget(child, {'horizontal': true, 'horizontal_input_wrapper_class': ''}) }} {# {'horizontal': true, 'horizontal_input_wrapper_class': ''} needed to avoid MopaBootstrapBundle messing with the DOM #}
            {% endset %}
            <tr>
                <td style="vertical-align: middle; text-align: center;">{{ form_widget_content|raw }}</td>
                <td>{{ s.getIdDonante() }}</td>
                <td>{{ s.getIdDonante().getCodigoDonante() }}</td>
                <td>{{ s.getIdDonacion().getCodigo() }}</td>
                <td>{{ s.getCodigoFrascoRecolectado() }}</td>
                <td>{{ s.getVolumenRecolectado() }}</td>
                <td>{{ s.getOnzRecolectado() }}</td>
                <td>{{ s.getIdFormaExtraccion().getPresentacionEntidad() }}</td>
{#
  <!--               <td>{% if s.getIdExpedienteReferido() is not null %}<span class="text-dark-emergency">{{ s.getIdExpedienteReferido().getIdReferido() }}</span>{% else %}{{ s.getIdExpediente().getIdPaciente() }}{% endif %}</td>
                <td>{% if s.getIdExpedienteReferido() is not null %}<span class="text-dark-emergency">{{ s.getIdExpedienteReferido().getNumero() }}</span>{% else %}{{ s.getIdExpediente().getNumero() }}{% endif %}</td> -->
#}
                <td>
                    <ul class="bs-list-styled">
                        {% for mz in s.getFrascoRecolectadoDonacionMezcla() %}
                            <li>
{#
                                <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                                    <span class="col-lg-4 col-md-4 col-sm-4">Donante:</span><span class="col-lg-8 col-md-8 col-sm-8">{{ mz.getIdFrascoRecolectado().getIdDonante() }}</span> -->
#}
                                    <strong>Vol. agregado:</strong> {{ mz.getVolumenAgregado() }} ml
{#
                                <!-- </div> -->
#}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
{#
                <!-- <td>{{ s.getFechaHoraReg()|format_date('EEEE, MMMM d, yyyy', 'es_ES') ~ ' ' ~ s.getFechaHoraReg|date('H:i:s A') }}</td> -->
#}
                <td>{{ s.getFechaHoraReg()|date('d/m/Y', 'America/El_Salvador') ~ ' ' ~ s.getFechaHoraReg|date('H:i:s A') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">

    (function ($) {
        /*
         *
         * @type type
         * Global variables for plugin
         */
        window.selections = [];   // --| build selections
    }(jQuery));

    var generateAutomaticBatchOfBottles = function(el) {
{#
        {% if choices is defined and choices|length >= 15 %}
#}
            var $table = jQuery('#blh_collected_bottle_target_bstable');
            // $table.bootstrapTable('refreshOptions', {
            //     pageSize: 15,
            // });
            selections.length = 0;
            console.log('selections', selections, selections.length);
            jQuery('input[name="BATCH_{{ sonata_admin.admin.uniqId }}[loteAnalisisFrascoRecolectado][all]"]').iCheck('uncheck');
            $table.find('tbody > tr > td input[type=checkbox][name="{{ sonata_admin.admin.uniqId }}[loteAnalisisFrascoRecolectado][]"]').iCheck('uncheck');
            // if (selections.length !== 15) {}
            $table.find('tbody > tr').slice(0, 15).find('td input[type=checkbox][name="{{ sonata_admin.admin.uniqId }}[loteAnalisisFrascoRecolectado][]"]').iCheck('check');
            console.log('selections checked', selections, selections.length, $table.find('tbody > tr').length);
{#
        {% endif %}
#}
    };

    jQuery(document).ready(function() {
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        //////// collected bottles table
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        var $table = jQuery('#blh_collected_bottle_target_bstable');

        $table.find('thead tr th input[type=checkbox], tbody tr td input[type=checkbox]').iCheck('destroy').iCheck({
            checkboxClass: 'icheckbox_minimal',
            radioClass: 'iradio_minimal'
        });
        $table.find('thead tr th .iCheck-helper, tbody tr td .iCheck-helper').css('position', 'relative');

        $table.on('page-change.bs.table sort.bs.table column-switch.bs.table search.bs.table column-search.bs.table', function (e, p1, p2) {
            $table.find('tbody tr td input[type=checkbox]').iCheck('destroy').iCheck({
                checkboxClass: 'icheckbox_minimal',
                radioClass: 'iradio_minimal'
            });
            $table.find('thead tr th .iCheck-helper, tbody tr td .iCheck-helper').css('position', 'relative');

            jQuery('input[name="BATCH_{{ sonata_admin.admin.uniqId }}[loteAnalisisFrascoRecolectado][all]"]').iCheck('uncheck');
            
            for (var i = 0, len = selections.length; i < len; ++i) {
                $table.find('tbody tr td input[type=checkbox][value="' + selections[i] + '"]').iCheck('check');
            }
        });
        $table.on('dbl-click-row.bs.table', function (e, row, $element, field) {
            $element.find('td input[type=checkbox][name="{{ sonata_admin.admin.uniqId }}[loteAnalisisFrascoRecolectado][]"]').iCheck('check');
            // $element.addClass('checked-row-bstable').siblings('tr').removeClass('checked-row-bstable');
        });

        //////////////////////////////////////////////////////////////////////////////////////////////
        //////// get selections
        //////////////////////////////////////////////////////////////////////////////////////////////
        // var selections = [];
        jQuery(document).on('ifClicked', 'input[name="BATCH_{{ sonata_admin.admin.uniqId }}[loteAnalisisFrascoRecolectado][all]"]', function(e) {
            var checked = this.checked !== false ? 'uncheck' : 'check'; // it was checked/unchecked before user clicked
            if (this.checked !== false) {
                selections.length = 0;
            }
            $table.find('tbody tr td input[type=checkbox][name="{{ sonata_admin.admin.uniqId }}[loteAnalisisFrascoRecolectado][]"]').iCheck(checked);
        });
        jQuery(document).on('ifChanged', 'input[name="{{ sonata_admin.admin.uniqId }}[loteAnalisisFrascoRecolectado][]"]', function(e) {
            if (this.checked === false) {
                // push or splice the selections if you want to save all data selections
                selections.splice(selections.indexOf(this.value), 1);
                jQuery(this).closest('tr').removeClass('checked-row-bstable');
            }
            else {
                // save your data, here just save the current page
                if(jQuery.inArray(this.value, selections) === -1) {
                    selections.push(this.value);
                }
                jQuery(this).closest('tr').addClass('checked-row-bstable');
            }
        });

        {% if choices is defined and choices|length == 0 %}
            //////////////////////////////////////////////////////////////////////////////////////////////
            //////// there is not any collected bottle
            //////////////////////////////////////////////////////////////////////////////////////////////
            swal({
                html:true,
                title: "La consulta no devolvió ningún registro",
                text: "Consulte frascos para análisis en el menú <a class=\"btn-link btn-link-primary-v4\" href=\"{{ path('siblh_donacion_create') }}\">Consultar donaciones</a>",
                type: "warning",
                showCancelButton: true,
                cancelButtonClass: "btn-sm btn-default",
                confirmButtonClass: "btn-sm btn-primary-v4",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar",
                // closeOnConfirm: false,
                // closeOnCancel: false,
                animation: false,
            },
            function(isConfirm) {
                if (isConfirm) {
                    var url = Routing.generate('siblh_donacion_create', {mode: 'standard', interaction: false});
                    window.location.href = url; // simulate link click
                }
            });
        {% endif %}
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    });

</script>