{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{#{% extends base_template %}#}
{% extends 'MinsalSiblhBundle:CRUD:base_edit.html.twig' %}

{% use 'MinsalSiblhBundle:BlhHistorialClinicoAdmin:base_edit_form.html.twig' with form as parentForm %}

{% block form %}
    {#{% for group_label, choice in form.idEmpleado.vars.choices %}
        {%- if choice is iterable -%}
            <span class="label label-primary-v4">{{ group_label }}</span><br/>
            
            {% for item in choice %}
                <span class="label label-element-v2">
                    {{ item.value }}
                    {{ item.label }}
                    {% if item is selectedchoice(form.idEmpleado.vars) %}
                        <i>SELECTED</i>
                    {% endif %}
                </span><br/>
            {% endfor %}
        {%- else -%}
            <span class="label label-element-v2">
                {{ choice.value }}
                {% if choice is selectedchoice(form.idEmpleado.vars) %}
                    <i>SELECTED</i>
                {% endif %}
                {{ choice.label }}
            </span><br/>
        {%- endif -%}
    {% endfor %}#}
    
    <div class="box box-drop-outside-shadow box-primary-v4">
        <div class="box-body">
            <br/><br/><br/>
            {#<span class="text-primary-v4">form.vars.value.idCurva:______________________  {{ form.vars.value.idCurva }}</span><br/>
            <span class="text-primary-v4">form.idCurva.vars.full_name:__________________  {{ form.idCurva.vars.full_name }}</span><br/>
            <span class="text-primary-v4">form.idCurva.vars.id:_________________________  {{ form.idCurva.vars.id }}</span><br/>
            <span class="text-primary-v4">form.idCurva.vars.data:_______________________  {{ form.idCurva.vars.data }}</span><br/>
            <span class="text-primary-v4">form.idCurva.vars.data.id:____________________  {{ form.idCurva.vars.data.id }}</span><br/>
            <span class="text-primary-v4">form.idCurva.vars.data.cantidadFrascos:_______  {{ form.idCurva.vars.data.cantidadFrascos }}</span><br/>
            <span class="text-primary-v4">form.idCurva.vars.choices|length:_____________  {{ form.idCurva.vars.choices|length }}</span><br/><br/>
            <span class="text-success-v6">form_row(form.idCurva):_______________________  {{ form_row(form.idCurva) }}</span><br/><br/><br/>#}
            
            <span class="text-primary-v4">form.vars.value.formulaObstetricaG:______________________  {{ form.vars.value.formulaObstetricaG }}</span><br/>
            <span class="text-primary-v4">form.formulaObstetricaG.vars.full_name:__________________  {{ form.formulaObstetricaG.vars.full_name }}</span><br/>
            <span class="text-primary-v4">form.formulaObstetricaG.vars.id:_________________________  {{ form.formulaObstetricaG.vars.id }}</span><br/>
            <span class="text-primary-v4">form.formulaObstetricaG.vars.data:_______________________  {{ form.formulaObstetricaG.vars.data }}</span><br/>
            <span class="text-primary-v4">form.formulaObstetricaG.vars.data.id:____________________  {{ form.formulaObstetricaG.vars.data.id }}</span><br/>
{#            <span class="text-primary-v4">form.formulaObstetricaG.vars.data.cantidadFrascos:_______  {{ form.formulaObstetricaG.vars.data.cantidadFrascos }}</span><br/>#}
            <span class="text-primary-v4">form.formulaObstetricaG.vars.choices|length:_____________  {{ form.formulaObstetricaG.vars.choices|length }}</span><br/><br/>
            <span class="text-success-v6">form_row(form.formulaObstetricaG):_______________________  {{ form_row(form.formulaObstetricaG) }}</span><br/><br/><br/>
            
            <div>
                {{ form_label(form.formulaObstetricaP1) }}
                {{ form_errors(form.formulaObstetricaP1) }}
                {{ form_widget(form.formulaObstetricaP1) }}
            </div>
            <br/><br/><br/><br/>
        </div>
    </div>

    {{ block('parentForm') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        jQuery(document).ready(function() {
            //////////////////////////////////////////////////////////////////////////////////////////////
            //////// calculate value
            //////////////////////////////////////////////////////////////////////////////////////////////
            jQuery('#{{ admin.uniqId }}_pesoDonante, #{{ admin.uniqId }}_tallaDonante').on('keyup change blur', function (e) {
                var pesoDonante = parseFloat(jQuery('#{{ admin.uniqId }}_pesoDonante').val());
                var tallaDonante = parseFloat(jQuery('#{{ admin.uniqId }}_tallaDonante').val());

                if (isNaN(pesoDonante) || jQuery.trim(pesoDonante).length === 0) {
                    pesoDonante = 0;
                }
                if (isNaN(tallaDonante) || jQuery.trim(tallaDonante).length === 0) {
                    jQuery('#{{ admin.uniqId }}_imc').val(0);
                    return;
                }
                var imc = pesoDonante / Math.pow(tallaDonante, 2);
                jQuery('#{{ admin.uniqId }}_imc').val(imc.toFixed(2));
            });
            //////////////////////////////////////////////////////////////////////////////////////////////
        });

    </script>
{% endblock %}