{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if choices is defined and choices|length < 1 %}
    <div class="alert alert-warning alert-dismissible help-alert-radiology-result-status no-diagnosis-request" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"> Cerrar </span></button>
        <span>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>&nbsp; Si el grupo no puede crearse por deficit, puede crear una solicitud de leche humana en el menú <a class="btn-link" href="{{ path('siblh_solicitud_create') }}">Crear solicitud</a>
        </span>
    </div>
{% endif %}

<div class="panel panel-default">
    <div class="panel-body">
        <center>
            <div class="btn-toolbar" role="toolbar" aria-label="..." style="display: table;">
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-sm btn-primary btn-bigger-glyphicon-icon" href="javascript:void(0)" onclick="generateAutomaticBatchOfBottles(this); return false;" name="BATCH_{{ sonata_admin.admin.uniqId }}_generate_automatic_batch_of_bottles" id="BATCH_{{ sonata_admin.admin.uniqId }}_generate_automatic_batch_of_bottles btn-bigger-glyphicon-icon" {#disabled="disabled"#}><span class="glyphicon glyphicon-list-alt"></span> Lote automático</a>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-sm btn-success" href="{{ path('siblh_solicitud_create') }}"><span class="glyphicon glyphicon-box"></span> Registrar solicitud</a>
                </div>
            </div>
        </center>
    </div>
</div>

<table data-toggle="table"{# #} class="table table-condensed table-hover table-primary blh-bsfixedtable" id="blh_breast_milk_requests_target_bstable" name="blh_breast_milk_requests_target_bstable"
        data-id-field="id"
        data-cache="false"
        data-show-columns="true"
        data-search="true"
        data-pagination="true"
        data-pagination-h-align="left"
        data-pagination-detail-h-align="right"
        data-page-list="[5, 10, 15, 25, 30]"
        data-page-size="15"
        data-classes="table table-condensed table-hover table-primary blh-bsfixedtable"
        data-buttons-class="primary"
        data-search-align="left"
        data-buttons-align="left"
        data-toolbar-align="right">
    <thead>
        <tr>
            <th data-align="center" data-halign="center" data-valign="middle"><input type="checkbox" id="BATCH_{{ sonata_admin.admin.uniqId }}_grupoSolicitudes_all" name="BATCH_{{ sonata_admin.admin.uniqId }}[grupoSolicitudes][all]"></th>
            <th>Receptor</th>
            <th>Cód. (Solicitud)</th>
            <th>Peso (kg)</th>
            <th>Acidez necesaria</th>
            <th>Calorías necesarias</th>
            <th>Vol. / toma (ml)</th>
            <th>Tomas / día</th>
            <th>Vol. / día (ml)</th>
            <th>Solicitante</th>
            <th>Fecha Reg.</th>
        </tr>
    </thead>
    <tbody>
{#
        <!-- {% for i in 100..115 %}
            <tr>
                <td style="vertical-align: middle; text-align: center;"><input type="radio" id="{{ sonata_admin.admin.uniqId }}_idFrascoProcesado_{{ loop.index - 1 }}" name="{{ sonata_admin.admin.uniqId }}[idFrascoProcesado]" value="{{ i }}"></td>
                <td>LOPEZ RAMIREZ, PRIMER NOMBRE298900 SEGUNDO NOMBRE298900</td>
                <td>LOPEZ RAMIREZ, PRIMER NOMBRE298900 SEGUNDO NOMBRE298900</td>
                <td>LOPEZ RAMIREZ, PRIMER NOMBRE298900 SEGUNDO NOMBRE298900</td>
            </tr>
        {% endfor %} -->
#}

        {% for child in form if choices[child.vars.value].data is defined %}
            {% set s = choices[child.vars.value].data %}
            {% set form_widget_content %}
                {{ form_widget(child, {'horizontal': true, 'horizontal_input_wrapper_class': ''}) }} {# {'horizontal': true, 'horizontal_input_wrapper_class': ''} needed to avoid MopaBootstrapBundle messing with the DOM #}
            {% endset %}
            <tr>
                <td style="vertical-align: middle; text-align: center;">{{ form_widget_content|raw }}</td>
                <td>{{ s.getIdReceptor() }}</td>
                <td>{{ s.getCodigoSolicitud() }}</td>
                <td>{{ s.getPesoDia() }}</td>
                <td>{{ s.getIdAcidezNecesaria().getPresentacionEntidad() }}</td>
                <td>{{ s.getIdCaloriasNecesarias().getPresentacionEntidad() }}</td>
                <td>{{ s.getVolumenPorToma() }}</td>
                <td>{{ s.getTomaPorDia() }}</td>
                <td>{{ s.getVolumenPorDia() }}</td>
                <td>{{ s.getIdResponsableSolicitud() }}</td>
{#
                <!-- <td>{{ s.getFechaSolicitud()|format_date('EEEE, MMMM d, yyyy', 'es_ES') ~ ' ' ~ s.getFechaSolicitud|date('H:i:s A') }}</td> -->
#}
                <td>{{ s.getFechaSolicitud()|date('d/m/Y', 'America/El_Salvador') ~ ' ' ~ s.getFechaSolicitud|date('H:i:s A') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">

    (function ($) {
        /*
         *
         * @type type
         * Global variables for plugin
         */
        window.selections = [];   // --| build selections
    }(jQuery));

    var generateAutomaticBatchOfBottles = function(el) {
{#
        {% if choices is defined and choices|length >= 15 %}
#}
            var $table = jQuery('#blh_breast_milk_requests_target_bstable');
            // $table.bootstrapTable('refreshOptions', {
            //     pageSize: 15,
            // });
            selections.length = 0;
            console.log('selections', selections, selections.length);
            jQuery('input[name="BATCH_{{ sonata_admin.admin.uniqId }}[grupoSolicitudes][all]"]').iCheck('uncheck');
            $table.find('tbody > tr > td input[type=checkbox][name="{{ sonata_admin.admin.uniqId }}[grupoSolicitudes][]"]').iCheck('uncheck');
            // if (selections.length !== 15) {}
            $table.find('tbody > tr').slice(0, 15).find('td input[type=checkbox][name="{{ sonata_admin.admin.uniqId }}[grupoSolicitudes][]"]').iCheck('check');
            console.log('selections checked', selections, selections.length, $table.find('tbody > tr').length);
{#
        {% endif %}
#}
    };

    jQuery(document).ready(function() {
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        //////// collected bottles table
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        var $table = jQuery('#blh_breast_milk_requests_target_bstable');

        $table.find('thead tr th input[type=checkbox], tbody tr td input[type=checkbox]').iCheck('destroy').iCheck({
            checkboxClass: 'icheckbox_minimal',
            radioClass: 'iradio_minimal'
        });
        $table.find('thead tr th .iCheck-helper, tbody tr td .iCheck-helper').css('position', 'relative');

        $table.on('page-change.bs.table sort.bs.table column-switch.bs.table search.bs.table column-search.bs.table', function (e, p1, p2) {
            $table.find('tbody tr td input[type=checkbox]').iCheck('destroy').iCheck({
                checkboxClass: 'icheckbox_minimal',
                radioClass: 'iradio_minimal'
            });
            $table.find('thead tr th .iCheck-helper, tbody tr td .iCheck-helper').css('position', 'relative');

            jQuery('input[name="BATCH_{{ sonata_admin.admin.uniqId }}[grupoSolicitudes][all]"]').iCheck('uncheck');
            
            for (var i = 0, len = selections.length; i < len; ++i) {
                $table.find('tbody tr td input[type=checkbox][value="' + selections[i] + '"]').iCheck('check');
            }
        });
        $table.on('dbl-click-row.bs.table', function (e, row, $element, field) {
            $element.find('td input[type=checkbox][name="{{ sonata_admin.admin.uniqId }}[grupoSolicitudes][]"]').iCheck('check');
            // $element.addClass('checked-row-bstable').siblings('tr').removeClass('checked-row-bstable');
        });

        //////////////////////////////////////////////////////////////////////////////////////////////
        //////// get selections
        //////////////////////////////////////////////////////////////////////////////////////////////
        // var selections = [];
        jQuery(document).on('ifClicked', 'input[name="BATCH_{{ sonata_admin.admin.uniqId }}[grupoSolicitudes][all]"]', function(e) {
            var checked = this.checked !== false ? 'uncheck' : 'check'; // it was checked/unchecked before user clicked
            if (this.checked !== false) {
                selections.length = 0;
            }
            $table.find('tbody tr td input[type=checkbox][name="{{ sonata_admin.admin.uniqId }}[grupoSolicitudes][]"]').iCheck(checked);
        });
        jQuery(document).on('ifChanged', 'input[name="{{ sonata_admin.admin.uniqId }}[grupoSolicitudes][]"]', function(e) {
            if (this.checked === false) {
                // push or splice the selections if you want to save all data selections
                selections.splice(selections.indexOf(this.value), 1);
                jQuery(this).closest('tr').removeClass('checked-row-bstable');
            }
            else {
                // save your data, here just save the current page
                if(jQuery.inArray(this.value, selections) === -1) {
                    selections.push(this.value);
                }
                jQuery(this).closest('tr').addClass('checked-row-bstable');
            }
        });

        {% if choices is defined and choices|length == 0 %}
            //////////////////////////////////////////////////////////////////////////////////////////////
            //////// there is not any request
            //////////////////////////////////////////////////////////////////////////////////////////////
            swal({
                html:true,
                title: "La consulta no devolvió ningún registro",
                text: "Puede crear una nueva solicitud en el menú <a class=\"btn-link\" href=\"{{ path('siblh_solicitud_create') }}\">Crear solicitud</a>",
                type: "warning",
                showCancelButton: true,
                cancelButtonClass: "btn-sm btn-default",
                confirmButtonClass: "btn-sm btn-primary-v4",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar",
                // closeOnConfirm: false,
                // closeOnCancel: false,
                animation: false,
            },
            function(isConfirm) {
                if (isConfirm) {
                    var url = Routing.generate('siblh_solicitud_create', {mode: 'standard', interaction: false});
                    window.location.href = url; // simulate link click
                }
            });
        {% endif %}
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    });

</script>