{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{#{% extends base_template %}#}
{% extends 'MinsalSiblhBundle:CRUD:base_edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {# bootstrap-table #}
    <link href="{{ asset('bundles/minsalsiblh/plugin/bootstrap-table-master/dist/bootstrap-table.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
    
    {# bootstrap-modal
    <link href="{{ asset('bundles/minsalsiblh/plugin/bootstrap-modal-master/css/bootstrap-modal-bs3patch.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsiblh/plugin/bootstrap-modal-master/css/bootstrap-modal.css') }}" type="text/css" rel="stylesheet" /> #}

    {# bootstrap sweetalert #}
    <link href="{{ asset('bundles/minsalsiblh/plugin/bootstrap-sweetalert-master/dist/sweetalert.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsiblh/css/sweetalert.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% use 'MinsalSiblhBundle:BlhAnalisisMicrobiologicoAdmin:base_edit_form.html.twig' with form as parentForm %}

{% block form %}

    {{ block('parentForm') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# bootstrap-table #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsiblh/plugin/bootstrap-table-master/dist/bootstrap-table.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsiblh/plugin/bootstrap-table-master/dist/locale/bootstrap-table-es-CR.min.js') }}" ></script>
    
    {# bootstrap-modal
    <script type="text/javascript" src="{{ asset('bundles/minsalsiblh/plugin/bootstrap-modal-master/js/bootstrap-modalmanager.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsiblh/plugin/bootstrap-modal-master/js/bootstrap-modal.js') }}" ></script> #}

    {# bootstrap sweetalert #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsiblh/plugin/bootstrap-sweetalert-master/dist/sweetalert.min.js') }}" ></script>

    <script type="text/javascript">

        jQuery(document).ready(function() {
            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            //////// processed bottles table
            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            var $table = jQuery('#blh_processed_bottle_target_bstable');

            $table.find('tbody tr td input:radio').iCheck('destroy').iCheck({
                checkboxClass: 'icheckbox_minimal',
                radioClass: 'iradio_minimal'
            });
            $table.find('tbody tr td .iCheck-helper').css('position', 'relative');

            $table.on('page-change.bs.table', function (e, number, size) {
                $table.find('tbody tr td input:radio').iCheck('destroy').iCheck({
                    checkboxClass: 'icheckbox_minimal',
                    radioClass: 'iradio_minimal'
                });
                $table.find('tbody tr td .iCheck-helper').css('position', 'relative');
                $table.find('tbody tr td input[type=radio][value="' + selections[0] + '"]').iCheck('check');
            });
            $table.on('dbl-click-row.bs.table', function (e, row, $element, field) {
                $element.find('td input[type=radio][name="RLIST_{{ admin.uniqId }}[processed_bottles_for_analysis][]"]').iCheck('check');
                // $element.addClass('checked-row-bstable').siblings('tr').removeClass('checked-row-bstable');
            });

            //////////////////////////////////////////////////////////////////////////////////////////////
            //////// get selections
            //////////////////////////////////////////////////////////////////////////////////////////////
            var selections = [];
            jQuery(document).on('ifChecked', 'input[name="RLIST_{{ admin.uniqId }}[processed_bottles_for_analysis][]"]', function(e) {
                jQuery('#{{ admin.uniqId }}_idFrascoProcesado').val(this.value);
                jQuery(this).closest('tr').addClass('checked-row-bstable').siblings('tr').removeClass('checked-row-bstable');

                // save your data, here just save the current page
                // selections = getIdSelections();
                selections = [this.value];
                // push or splice the selections if you want to save all data selections
                window.console.log('selections', selections);
            });

            {% if PROCESSED_BOTTLES_FOR_ANALYSIS is defined and PROCESSED_BOTTLES_FOR_ANALYSIS|length == 0 %}
                //////////////////////////////////////////////////////////////////////////////////////////////
                //////// there is not any processed bottle
                //////////////////////////////////////////////////////////////////////////////////////////////
                swal({
                    html:true,
                    title: "La consulta no devolvió ningún registro",
                    text: "Consulte frascos para análisis en el menú <a class=\"btn-link btn-link-primary-v4\" href=\"{{ path('siblh_donacion_create') }}\">Consultar donaciones</a>",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonClass: "btn-sm btn-default",
                    confirmButtonClass: "btn-sm btn-primary-v4",
                    confirmButtonText: "Aceptar",
                    cancelButtonText: "Cancelar",
                    // closeOnConfirm: false,
                    // closeOnCancel: false,
                    animation: false,
                },
                function(isConfirm) {
                    if (isConfirm) {
                        var url = Routing.generate('siblh_donacion_create', {mode: 'standard', interaction: false});
                        window.location.href = url; // simulate link click
                    }
                });
            {% endif %}
            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        });

    </script>
{% endblock %}