{% block form %}
    {{ sonata_block_render_event('sonata.admin.edit.form.top', { 'admin': admin, 'object': object }) }}

    {% set url = admin.id(object) is not null ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url)%}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <form
              class="form-horizontal"
              role="form"
              action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }}
              method="POST"
              novalidate="novalidate"
              data-clientside-validation="page"
              {% block simagd_apply_custom_formid %}
                  {# can add a custom id to the form #}
                  id="_blh_entity_full_admin_form"
              {% endblock %}
              {% block simagd_apply_custom_formname %}
                  {# can add a name to the form #}
                  name="_full_admin_form"
              {% endblock %}
              >
            {% if form.vars.errors|length > 0 %}
                <div class="sonata-ba-form-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            {% block sonata_pre_fieldsets %}
                <div class="row"> <!-- row block -->
            {% endblock %}

            <div class="col-lg-12 col-md-12 col-sm-12"> <!-- form block -->

                {% block simagd_apply_custom_firstbox %} {% endblock %}

                {% block sonata_tab_content %}

                    <!--
                    //////////////////////////////////////////////////////////////
                    //////// TABLE
                    //////////////////////////////////////////////////////////////
                     -->
                    <!-- table for any result -->
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="box box-drop-outside-shadow box-success-v3">
                            <div class="box-header">
                                <h4 class="box-title">
                                    <span class="text-black-thrash">Frascos procesados para análisis</span>
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="alert alert-dark-success-lighter-medicine alert-dismissible help-alert-radiology-result-status no-diagnosis-request" role="alert">
                                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"> Cerrar </span></button>
                                        <span>
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>&nbsp; Si el lote no puede crearse por deficit, consulte frascos para análisis en el menú <a class="btn-link btn-link-primary-v4" href="{{ path('siblh_donacion_create') }}">Consultar donaciones</a>.
                                        </span>
                                    </div>

                                    <div class="non-bootstraptable-fixed-table-container">
                                        <table {#data-toggle="table"#} class="table table-condensed table-hover table-xray-supreme-head blh-bsfixedtable" id="blh_processed_bottle_target_bstable" name="blh_processed_bottle_target_bstable">
                                            <thead>
                                                <tr>
                                                    <th>Paciente</th>
                                                    <th>Reg.</th>
                                                    <th>Procedimiento</th>
                                                    <th>Téc. / Lic. / Rdlg.</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in 0..10 %}
                                                    <tr>
                                                        <td>LOPEZ RAMIREZ, PRIMER NOMBRE298900 SEGUNDO NOMBRE298900</td>
                                                        <td>LOPEZ RAMIREZ, PRIMER NOMBRE298900 SEGUNDO NOMBRE298900</td>
                                                        <td>LOPEZ RAMIREZ, PRIMER NOMBRE298900 SEGUNDO NOMBRE298900</td>
                                                        <td>LOPEZ RAMIREZ, PRIMER NOMBRE298900 SEGUNDO NOMBRE298900</td>
                                                        <td style="vertical-align: middle; text-align: center;"><input type="checkbox" name=""></td>
                                                    </tr>
                                                {% endfor %}

                                                {% for cb in PROCESSED_BOTTLES_FOR_ANALYSIS %}
                                                    <tr>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end table -->


                    <!--
                    //////////////////////////////////////////////////////////////
                    //////// END --| TABLE
                    //////////////////////////////////////////////////////////////
                     -->

                    {% for name, form_group in admin.formgroups %}
                        <div class="{{ form_group.class|default('col-md-12') }}">
                            <div class="box box-drop-outside-shadow box-primary-v4">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        <span class="text-black-thrash">{{ admin.trans(name, {}, form_group.translation_domain) }}</span>
                                    </h4>
                                </div>
                                {#<div class="box{% if loop.first %} in{% endif %}" id="{{ admin.uniqid }}_{{ loop.index }}">#}
                                    <div class="box-body">
                                        <div class="sonata-ba-collapsed-fields">
                                            {% if form_group.description != false %}
                                                <p>{{ form_group.description|raw }}</p>
                                            {% endif %}

                                            {% for field_name in form_group.fields %}
                                                {% if admin.formfielddescriptions[field_name] is defined %}
                                                    {{ form_row(form[field_name])}}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {#</div>#}
                            </div>
                        </div>
                    {% endfor %}
                {% endblock %}

                {% block formactions %}
                    {#<div class="well well-small form-actions">#}
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="box box-drop-outside-shadow box-primary-v4{#danger#} form-actions">
                            <div class="box-body">
                                {% if app.request.isxmlhttprequest %}
                                    {% if admin.id(object) is not null %}
                                        <button type="button" data-dismiss="modal" class="btn btn-sm btn-xray-awesome-blue"><i class="fa fa-times"></i> No, Cerrar</button>
                                        <button type="submit" class="btn btn-sm btn-xray-awesome-blue" name="btn_update"><i class="fa fa-save"></i> Editar</button>
                                    {% else %}
                                        <button type="button" data-dismiss="modal" class="btn btn-sm btn-xray-awesome-blue"><i class="fa fa-times"></i> No, Cerrar</button>
                                        <button type="submit" class="btn btn-sm btn-xray-awesome-blue" name="btn_create"><i class="fa fa-plus-circle"></i> Enviar</button>
                                    {% endif %}
                                {% else %}
                                    {% if admin.supportsPreviewMode %}
                                        <button class="btn btn-info persist-preview" name="btn_preview" type="submit">
                                            <i class="fa fa-eye"></i>
                                            {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                                        </button>
                                    {% endif %}
                                    {% if admin.id(object) is not null %}
                                        <button type="submit" class="btn btn-sm btn-success-v6" name="btn_update_and_edit"><span class="glyphicon glyphicon-{#ok-sign#}send"></span> Enviar</button>

                                        {#{% if admin.hasroute('list') %}
                                            <button type="submit" class="btn btn-sm btn-success-v6" name="btn_update_and_list"><span class="glyphicon glyphicon-ok-sign"></span> <span class="glyphicon glyphicon-list-alt"></span> Enviar</button>
                                        {% endif %}#}

                                        {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                            {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                                            <a class="btn btn-sm btn-emergency" href="{{ admin.generateObjectUrl('delete', object) }}"><span class="glyphicon glyphicon-trash"></span> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                                        {% endif %}

                                        {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                                            <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                                        {% endif %}
                                        <a class="btn btn-sm btn-default" href="javascript:void(0)" onclick="clearForm(this); return false;"><span class="glyphicon glyphicon-trash"></span> Limpiar</a>
                                    {% else %}
                                        {% if admin.hasroute('edit') %}
                                            <button class="btn btn-sm btn-xray-awesome-blue" type="submit" name="btn_create_and_edit"><span class="glyphicon glyphicon-{#ok-sign#}send"></span> Enviar</button>
                                        {% endif %}
                                        {#{% if admin.hasroute('list') %}
                                            <button type="submit" class="btn btn-sm btn-xray-awesome-blue" name="btn_create_and_list"><span class="glyphicon glyphicon-ok-sign"></span> <span class="glyphicon glyphicon-list-alt"></span> Enviar</button>
                                        {% endif %}#}
                                        {#<button class="btn btn-sm btn-xray-awesome-blue" type="submit" name="btn_create_and_create"><span class="glyphicon glyphicon-ok-sign"></span> <span class="glyphicon glyphicon-repeat"></span> Enviar</button>#}
                                        <a class="btn btn-sm btn-default" href="javascript:void(0)" onclick="clearForm(this); return false;"><span class="glyphicon glyphicon-trash"></span> Limpiar</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endblock formactions %}
            
            </div> <!-- end form block -->

            {% block sonata_post_fieldsets %}
                </div> <!-- end row block -->
            {% endblock %}

            {{ form_rest(form) }}
        </form>
    {% endif%}

    {{ sonata_block_render_event('sonata.admin.edit.form.bottom', { 'admin': admin, 'object': object }) }}

{% endblock %}