{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{#{% extends base_template %}#}
{% extends 'MinsalSiblhBundle:CRUD:base_edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {# bootstrap-table #}
    <link href="{{ asset('bundles/minsalsiblh/plugin/bootstrap-table-master/dist/bootstrap-table.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
    
    {# bootstrap-modal
    <link href="{{ asset('bundles/minsalsiblh/plugin/bootstrap-modal-master/css/bootstrap-modal-bs3patch.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsiblh/plugin/bootstrap-modal-master/css/bootstrap-modal.css') }}" type="text/css" rel="stylesheet" /> #}

    {# bootstrap sweetalert #}
    <link href="{{ asset('bundles/minsalsiblh/plugin/bootstrap-sweetalert-master/dist/sweetalert.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsiblh/css/sweetalert.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% use 'MinsalSiblhBundle:BlhAcidezAdmin:base_edit_form.html.twig' with form as parentForm %}

{% block form %}

    {{ block('parentForm') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# bootstrap-table #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsiblh/plugin/bootstrap-table-master/dist/bootstrap-table.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsiblh/plugin/bootstrap-table-master/dist/locale/bootstrap-table-es-CR.min.js') }}" ></script>
    
    {# bootstrap-modal
    <script type="text/javascript" src="{{ asset('bundles/minsalsiblh/plugin/bootstrap-modal-master/js/bootstrap-modalmanager.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsiblh/plugin/bootstrap-modal-master/js/bootstrap-modal.js') }}" ></script> #}

    {# bootstrap sweetalert #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsiblh/plugin/bootstrap-sweetalert-master/dist/sweetalert.min.js') }}" ></script>

    <script type="text/javascript">

        jQuery(document).ready(function() {
            //////////////////////////////////////////////////////////////////////////////////////////////
            //////// collected bottles table
            //////////////////////////////////////////////////////////////////////////////////////////////
{#
            {% if DEFAULT_TABLE_OPTIONS is defined %}
#}
                var $table = jQuery('#blh_collected_bottle_target_bstable');
                $table.find('tbody tr td :input');
{#
                $table.bootstrapTable('destroy').bootstrapTable(JSON.parse('{{ DEFAULT_TABLE_OPTIONS|json_encode|e('js')|raw }}'));
#}
    
                // $table.on('load-success.bs.table', function (e, data) {
                {% if COLLECTED_BOTTLES_FOR_ANALYSIS is defined and COLLECTED_BOTTLES_FOR_ANALYSIS|length == 0 %}
                    // if (data.length === 0) {
                        swal({
                            html:true,
                            title: "La consulta no devolvió ningún registro",
                            text: "Consulte frascos para análisis en el menú <a class=\"btn-link btn-link-primary-v4\" href=\"{{ path('siblh_donacion_create') }}\">Consultar donaciones</a>",
                            type: "warning",
                            showCancelButton: true,
                            cancelButtonClass: "btn-sm btn-default",
                            confirmButtonClass: "btn-sm btn-primary-v4",
                            confirmButtonText: "Aceptar",
                            cancelButtonText: "Cancelar",
                            // closeOnConfirm: false,
                            // closeOnCancel: false,
                            animation: false,
                        },
                        function(isConfirm) {
                            if (isConfirm) {
                                var url = Routing.generate('siblh_donacion_create', {mode: 'standard', interaction: false});
                                window.location.href = url; // simulate link click
                            }
                        });
                //     }
                {% endif %}
                // });
{#
            {% endif %}
#}

            jQuery('input[name="{{ admin.uniqId }}[collected_bottles_for_analysis][]"]').on('ifChecked', function(e) {
                jQuery('#{{ admin.uniqId }}_idFrascoRecolectado').val(this.value);
            });
            //////////////////////////////////////////////////////////////////////////////////////////////
            
            //////////////////////////////////////////////////////////////////////////////////////////////
            //////// calculate value
            //////////////////////////////////////////////////////////////////////////////////////////////
            jQuery('#{{ admin.uniqId }}_acidez1, #{{ admin.uniqId }}_acidez2, #{{ admin.uniqId }}_acidez3').on('keyup change blur', function (e) {
                var acidez1 = parseFloat(jQuery('#{{ admin.uniqId }}_acidez1').val());
                var acidez2 = parseFloat(jQuery('#{{ admin.uniqId }}_acidez2').val());
                var acidez3 = parseFloat(jQuery('#{{ admin.uniqId }}_acidez3').val());

                if (isNaN(acidez1) || jQuery.trim(acidez1).length === 0) {
                    acidez1 = 0;
                }
                if (isNaN(acidez2) || jQuery.trim(acidez2).length === 0) {
                    acidez2 = 0;
                }
                if (isNaN(acidez3) || jQuery.trim(acidez3).length === 0) {
                    acidez3 = 0;
                }
                var mediaAcidez = (acidez1 + acidez2 + acidez3) / 3;
                jQuery('#{{ admin.uniqId }}_mediaAcidez').val(mediaAcidez.toFixed(2));
            });
            //////////////////////////////////////////////////////////////////////////////////////////////
        });

    </script>
{% endblock %}