{% block form %}
    {{ sonata_block_render_event('sonata.admin.edit.form.top', { 'admin': admin, 'object': object }) }}

    {% set url = admin.id(object) is not null ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url)%}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <form
              class="form-horizontal"
              role="form"
              action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }}
              method="POST"
              novalidate="novalidate"
              data-clientside-validation="page"
              {% block simagd_apply_custom_formid %}
                  {# can add a custom id to the form #}
                  id="_blh_entity_full_admin_form"
              {% endblock %}
              {% block simagd_apply_custom_formname %}
                  {# can add a name to the form #}
                  name="_full_admin_form"
              {% endblock %}
              >
            {% if form.vars.errors|length > 0 %}
                <div class="sonata-ba-form-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            {% block sonata_pre_fieldsets %}
                <div class="row"> <!-- row block -->
            {% endblock %}

            <div class="col-lg-12 col-md-12 col-sm-12"> <!-- form block -->

                {% block simagd_apply_custom_firstbox %} {% endblock %}

                {% block sonata_tab_content %}
                    {% for name, form_group in admin.formgroups %}
                        <div class="{{ form_group.class|default('col-md-12') }}">
                            <div class="box box-drop-outside-shadow box-primary-v4">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        <span class="text-black-thrash">{{ admin.trans(name, {}, form_group.translation_domain) }}</span>
                                    </h4>
                                </div>
                                {#<div class="box{% if loop.first %} in{% endif %}" id="{{ admin.uniqid }}_{{ loop.index }}">#}
                                    <div class="box-body">
                                        <div class="sonata-ba-collapsed-fields">
                                            {% if form_group.description != false %}
                                                <p>{{ form_group.description|raw }}</p>
                                            {% endif %}
{#
                                            <!-- {% for field_name in form_group.fields if field_name != 'pasteurizacionFrascoProcesado' %} -->
#}
                                            {% for field_name in form_group.fields %}
                                                {% if admin.formfielddescriptions[field_name] is defined %}
                                                    {{ form_row(form[field_name])}}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {#</div>#}
                            </div>
                        </div>
                    {% endfor %}

{#
                    <!--
                    //////////////////////////////////////////////////////////////
                    //////// TABLE
                    //////////////////////////////////////////////////////////////
                     -->
                    <!-- table for any result -->
                    <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="box box-drop-outside-shadow box-success-v3">
                            <div class="box-header">
                                <h4 class="box-title">
                                    <span class="text-black-thrash">Frascos pasteurizados</span>
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    {{ form_label(form.pasteurizacionFrascoProcesado) }}
                                    {{ form_errors(form.pasteurizacionFrascoProcesado) }}
                                    {{ form_widget(form.pasteurizacionFrascoProcesado) }}
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- end table -->


                    <!--
                    //////////////////////////////////////////////////////////////
                    //////// END --| TABLE
                    //////////////////////////////////////////////////////////////
                     -->
#}

                {% endblock %}

                {% block formactions %} {% include 'MinsalSiblhBundle:CRUD:block_formactions.html.twig' %} {% endblock formactions %}
            
            </div> <!-- end form block -->

            {% block sonata_post_fieldsets %}
                </div> <!-- end row block -->
            {% endblock %}

            {{ form_rest(form) }}
        </form>
    {% endif%}

    {{ sonata_block_render_event('sonata.admin.edit.form.bottom', { 'admin': admin, 'object': object }) }}

{% endblock %}