{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'MinsalSiblhBundle:Form:form_admin_fields.html.twig' %}

{% block choice_widget %}
{% spaceless %}
    {% if compound %}
        {% if (sonata_admin.admin.uniqId ~ '_pasteurizacionFrascoProcesado') is sameas(id) %}
            {% include 'MinsalSiblhBundle:BlhPasteurizacionAdmin:processed_bottles_in_list_checkbox.html.twig' ignore missing with {attr: block('widget_container_attributes_choice_widget'), form: form, choices: choices} %}
        {% elseif (sonata_admin.admin.uniqId ~ '_frascoRecolectadoFrascoProcesadoVolumenAgregado') is sameas(id) %}
            {% include 'MinsalSiblhBundle:BlhPasteurizacionAdmin:non_conditioned_bottles_in_list_checkbox.html.twig' ignore missing with {attr: block('widget_container_attributes_choice_widget'), form: form, choices: choices} %}
        {% else %}
            {% if attr['data-radio-display-form'] is defined and attr['data-radio-display-form'] == 'inline' %}
                {% set attr = attr|merge({'class': (attr.class|default('') ~ ' list-inline')|trim}) %}  {# inline radiobutton display mode #}
            {% endif%}
            <ul {{ block('widget_container_attributes_choice_widget') }}>
            {% for child in form %}
                <li>
                    {% set form_widget_content %}
                        {{ form_widget(child, {'horizontal': true, 'horizontal_input_wrapper_class': ''}) }} {# {'horizontal': true, 'horizontal_input_wrapper_class': ''} needed to avoid MopaBootstrapBundle messing with the DOM #}
                    {% endset %}
                    {{ form_label(child, child.vars.label|default(null)|raw, { 'in_list_checkbox' : true, 'widget' : form_widget_content } ) }}
                </li>
            {% endfor %}
            </ul>
        {% endif%}
    {% else %}
    {% if sonata_admin.admin and not sonata_admin.admin.getConfigurationPool().getOption('use_select2') %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {% endif %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option value="">
                {% if not sonata_admin.admin %}
                    {{- empty_value|trans({}, translation_domain) -}}
                {% else %}
                    {{- empty_value|trans({}, sonata_admin.field_description.translationDomain) -}}
                {% endif%}
            </option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}