<span class="text-element-v2">TABLA QUE SE CREARÁ CON LOS FRASCOS RECOLECTADOS (COMO EN FRASCO_PROCESADO_EDIT TEMPLATE), SE ENVIARÁ AL CONTROLLER PERO NO SE CREARÁ PASTEURIZACIÓN, SOLO SE CREARÁN LOS ONETOMANY</span><br/>
<span class="text-emergency">TAMBIÉN CAMBIAR ACTION DE FORM PARA QUE SE DIRIJA AL ACTION DESEADO</span>
<table data-toggle="table"{# #} class="table table-condensed table-hover table-xray-supreme-head blh-bsfixedtable" id="blh_bstable_{{ admin.uniqId }}_pasteurizacionFrascoProcesado" name="blh_bstable_{{ admin.uniqId }}_pasteurizacionFrascoProcesado"
        data-show-columns="false"
        data-search="false"
        data-pagination="false"
        data-classes="table table-condensed table-hover table-xray-supreme-head blh-bsfixedtable"
        data-buttons-class="xray-awesome-blue">
    <thead>
        <tr>
            <th>Código</th>
            <th>Vol. frasco pasteurizado (ml)</th>
            <th>Vol. disponible (ml)</th>
            <th>Acidez total</th>
            <th>Total de calorías</th>
            <th>Observaciones / Comentarios</th>
        </tr>
    </thead>
    <tbody class="sonata-ba-tbody">
        <tr>
            <td class="sonata-ba-td-{{ admin.uniqId }}_pasteurizacionFrascoProcesado-codigoFrascoProcesado control-group">
                <input type="text" id="{{ admin.uniqId }}_pasteurizacionFrascoProcesado_0_codigoFrascoProcesado" name="{{ admin.uniqId }}[pasteurizacionFrascoProcesado][' + index + '][codigoFrascoProcesado]" maxlength="15" pattern=".*[a-zA-Z0-9].*" placeholder="código..." class="form-control input-sm" readonly="readonly" >
            </td>
            <td class="sonata-ba-td-{{ admin.uniqId }}_pasteurizacionFrascoProcesado-volumenFrascoPasteurizado control-group">
                <input type="text" id="{{ admin.uniqId }}_pasteurizacionFrascoProcesado_0_volumenFrascoPasteurizado" name="{{ admin.uniqId }}[pasteurizacionFrascoProcesado][' + index + '][volumenFrascoPasteurizado]" placeholder="vol. de frasco pasteurizado (ml)..." class="form-control input-sm" data-fv-numeric="true" data-fv-numeric-message="El valor no es un número válido" data-fv-numeric-thousandsseparator="" data-fv-numeric-decimalseparator="." min="0" max="32767" data-fv-between-message="Número debe estar entre 0 y 32767" >
            </td>
            <td class="sonata-ba-td-{{ admin.uniqId }}_pasteurizacionFrascoProcesado-volumenDisponibleFp control-group">
                <input type="text" id="{{ admin.uniqId }}_pasteurizacionFrascoProcesado_0_volumenDisponibleFp" name="{{ admin.uniqId }}[pasteurizacionFrascoProcesado][' + index + '][volumenDisponibleFp]" placeholder="vol. disponible (ml)..." class="form-control input-sm" data-fv-numeric="true" data-fv-numeric-message="El valor no es un número válido" data-fv-numeric-thousandsseparator="" data-fv-numeric-decimalseparator="." min="0" max="32767" data-fv-between-message="Número debe estar entre 0 y 32767" >
            </td>
            <td class="sonata-ba-td-{{ admin.uniqId }}_pasteurizacionFrascoProcesado-acidezTotal control-group">
                <input type="text" id="{{ admin.uniqId }}_pasteurizacionFrascoProcesado_0_acidezTotal" name="{{ admin.uniqId }}[pasteurizacionFrascoProcesado][' + index + '][acidezTotal]" placeholder="acidez total..." class="form-control input-sm" data-fv-numeric="true" data-fv-numeric-message="El valor no es un número válido" data-fv-numeric-thousandsseparator="" data-fv-numeric-decimalseparator="." min="0" max="32767" data-fv-between-message="Número debe estar entre 0 y 32767" >
            </td>
            <td class="sonata-ba-td-{{ admin.uniqId }}_pasteurizacionFrascoProcesado-kcaloriasTotales control-group">
                <input type="text" id="{{ admin.uniqId }}_pasteurizacionFrascoProcesado_0_kcaloriasTotales" name="{{ admin.uniqId }}[pasteurizacionFrascoProcesado][' + index + '][kcaloriasTotales]" placeholder="total de calorías..." class="form-control input-sm" data-fv-numeric="true" data-fv-numeric-message="El valor no es un número válido" data-fv-numeric-thousandsseparator="" data-fv-numeric-decimalseparator="." min="0" max="32767" data-fv-between-message="Número debe estar entre 0 y 32767" >
            </td>
            <td class="sonata-ba-td-{{ admin.uniqId }}_pasteurizacionFrascoProcesado-observacionFrascoProcesado control-group">
                <textarea id="{{ admin.uniqId }}_pasteurizacionFrascoProcesado_0_observacionFrascoProcesado" name="{{ admin.uniqId }}[pasteurizacionFrascoProcesado][' + index + '][observacionFrascoProcesado]" rows="2" style="resize:none" placeholder="comentarios..." class="form-control input-sm form-control" data-fv-stringlength="true" data-fv-stringlength-min="5" data-fv-stringlength-message="5 caracteres mínimo" data-fv-regexp="true" data-fv-regexp-regexp="^[a-zA-ZüÜñÑáéíóúÁÉÍÓÚ0-9¿!¡;,:\.\?#@()\^\[\]\{\}\\/'&quot;_-\s]+$" data-fv-regexp-message="Texto contiene caracteres no permitidos" ></textarea>
            </td>
        </tr>
    </tbody>
</table>