{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{#{% extends base_template %}#}
{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {# stylesheets minimized with Assetic #}
{#
    {% stylesheets
        'bundles/minsalsiblh/css/simagd-styles.css'
        'bundles/minsalsiblh/css/simagd-form-styles.css'
        'bundles/minsalsiblh/css/simagd-extend-bootstrap3_minsalsiaps.css'
        'bundles/minsalsiblh/css/simagd-table.css'

        'bundles/minsalsiblh/css/select2-bootstrap_minsalsiaps.css'

        output="bundles/minsalsiblh/compiled/css/bundle_stylesheets___base_list.css" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
#}

    {# simagd-styles #}
    <link href="{{ asset('bundles/minsalsiblh/css/simagd-styles.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsiblh/css/simagd-form-styles.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsiblh/css/simagd-extend-bootstrap3_minsalsiaps.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsiblh/css/simagd-table.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsiblh/css/select2-bootstrap_minsalsiaps.css') }}" type="text/css" rel="stylesheet" />

    {# formValidation #}
    <link href="{{ asset('bundles/minsalsiblh/plugin/formvalidation-master/dist/css/formValidation.min.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block actions %}
    <li>{% include 'MinsalSiblhBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'MinsalSiblhBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'MinsalSiblhBundle:Button:create_button.html.twig' %}</li>
    <li>{% include 'MinsalSiblhBundle:Button:delete_button.html.twig' %}</li>
{% endblock %}

{% block sonata_page_content_header %}
    {% block sonata_page_content_nav %}
        {% if _tab_menu is not empty or _actions is not empty %}
            <div class=" col-lg-12 col-md-12 col-sm-12 {#col-lg-10 col-md-10 col-sm-10 col-xs-offset-1#} ">
                {#<div class="row">#}
                    <div class="panel panel-xray-awesome-blue {#box box-drop-outside-shadow box-primary-v4 box-content-header-menu#}"><!-- <nav class="navbar navbar-default" role="navigation"> -->
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% block overwritten_page_content_panel_title %}FORMULARIO - BANCO DE LECHE{% endblock %}
                            </h3>
                        </div>
                        <div class="panel-body {#box-body#}">
                            {#<div class="row">#}
                                {% if _navbar_title is not empty %}
                                    <!-- <div class="navbar-header"> -->
                                        <div class="col-lg-4 col-md-4 col-sm-4"><h5>{{ _navbar_title|upper|raw }} <small>(Menú de operaciones)</small></h5></div>
                                        <!-- <span class="navbar-brand"> --><!-- </span> -->
                                    <!-- </div> -->
                                {% endif %}
                                <!-- <div class="container-fluid"> -->
                                    <!-- <div class="navbar-left"> -->
                                        {#{% if _tab_menu is not empty %}
                                            {{ _tab_menu|raw }}
                                        {% endif %}#}
                                    <!-- </div> -->

                                    {% if _actions is not empty %}
                                        <div class="pull-right">
                                            <div class="btn-toolbar" role="toolbar" aria-label="...">
                                                {#
                                                <li class="dropdown sonata-actions">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        {{ _actions|raw }}
                                                    </ul>
                                                </li>
                                                #}
                                                {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                                                    {{ _actions|replace({ '\r': '', '\n': '' })|replace({ '<li></li>': '' })|replace({ '<li>': '', '</li>': '' })|raw }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                <!-- </div> -->
                            {#</div>#}
                        </div>
                    </div><!-- </nav> -->
                {#</div>#}
            </div>
        {% endif %}
    {% endblock sonata_page_content_nav %}

{% endblock sonata_page_content_header %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}

{% use 'MinsalSiblhBundle:CRUD:base_edit_form.html.twig' with form as parentForm %}

{% block form %}

    {{ block('parentForm') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        window.console.log('%c <div class="note-speech-recognize" style="height: 50px; background: #f5f5f5; display:none;"></div>', 'background: #2A5469; color: #fff');

        jQuery(document).ready(function() {
            /*
             * **************************************************************************
             * DEFINE VARIABLE FOR TEMPLATE FORM
             * **************************************************************************
             */
            var $this_bsform = jQuery('form[id="simagd_entity_full_admin_form"]');
            
            /*
             * **************************************************************************
             * APPLY CUSTOM FORM RESET
             * **************************************************************************
             */
            $this_bsform.find(':reset').click(function (e) {
                e.preventDefault();
                $this_bsform.data('formValidation').resetForm();
                $this_bsform.get(0).reset();
                $this_bsform
                    .find('select[data-input-transform="select2"]')
                        .each(function () {
                            var $select2 = jQuery(this);
                            $select2.select2('val', $select2.find(':selected').val());
                        });
            });
            
            /*
             * **************************************************************************
             * APPLY PLUGIN "DATETIMEPICKER" TO INPUT TEXT
             * **************************************************************************
             */
            moment.locale('es');
            jQuery(document)
                .find(':input[data-input-transform="datetimepicker"]')
                        .each(function () {
                            var $dt_type    = jQuery(this).data('datetimepicker-type');
                            var $dt_format  = $dt_type === 'date' ? 'DD/MM/YYYY' : ($dt_type === 'time' ? 'HH:mm' : 'DD/MM/YYYY hh:mm A');
                            var $dt_display = jQuery(this).data('datetimepicker-display-format');
                            // var $dt_format_display = typeof $dt_display !== "undefined" ? $dt_display : $dt_format;
                            // window.console.log(jQuery(this).data('datetimepicker-display-format'),
                            //     typeof $dt_display !== "undefined",
                            //     '$name:',
                            //     jQuery(this).attr('name'),
                            //     '$dt_type:',
                            //     $dt_type,
                            //     '$dt_format:',
                            //     $dt_format,
                            //     '$dt_display:',
                            //     $dt_display,
                            //     '$dt_format_display:',
                            //     $dt_format_display
                            // );
                            jQuery(this)
                                .datetimepicker({
                                    locale: 'es',
                                    // format: $dt_format,
                                    format: typeof $dt_display !== "undefined" ? $dt_display : $dt_format,
                                    showTodayButton: true,
                                    showClear: true,
                                    showClose: true,
                                    ignoreReadonly: true,
                                    // inline: true,
                                    sideBySide: true,
                                    /*minDate: moment()*/
                                }).on('dp.change dp.show', function(e) {
                                    var $data_name  = jQuery(this).attr('name');
                                    jQuery(this).closest('form').formValidation('revalidateField', $data_name);
                                    // console.log('dp.change dp.show');
                                }).prev().filter('.display-datetimepicker').click(function(e) {
                                    e.preventDefault();
                                    jQuery(this).next().data('DateTimePicker').show();
                                }).next().filter('.display-datetimepicker').click(function(e) {
                                    e.preventDefault();
                                    jQuery(this).prev().data('DateTimePicker').show();
                                });
                            if ($dt_type === 'datetime' || $dt_type === 'time') {
                                jQuery(this)
                                    .on('dp.hide', function(e) {
                                        jQuery(this).blur();
                                        var $data_name  = jQuery(this).attr('name');
                                        jQuery(this).closest('form').formValidation('revalidateField', $data_name);
                                        // console.log('dp.hide');
                                    });
                            }
                            if ($dt_type === 'date') {
                                jQuery(this)
                                    .on('dp.change', function (e) {
                                        jQuery(this).blur();
                                        // console.log('dp.change');
                                    });
                            }
                            // window.console.log(jQuery(this).data('DateTimePicker').options());
                        });

            /*
             * **************************************************************************
             * build client side validation with formValidation for bootstrap
             * plugin used: <formValidation>
             * **************************************************************************
             */

            /*
             * 
             * @type @call;$
             */
            var $bs_form = jQuery('form');    // --| typeahead input field element
            
            $bs_form
                // .filter(function(i) {
                //     return jQuery(this).data('clientside-validation') === "modal" || jQuery(this).data('clientside-validation') === "page";
                // })
                .each(function() {
                    var $this = jQuery(this);

                    $this
                        // IMPORTANT: You must declare .on('init.field.fv')
                        // before calling .formValidation(options)
                        .on('init.field.fv', function(e, data) {
                            // data.fv      --> The FormValidation instance
                            // data.field   --> The field name
                            // data.element --> The field element

                            var $parent = data.element.parents('.form-group'),
                                $icon   = $parent.find('.form-control-feedback[data-fv-icon-for="' + data.field + '"]');

                            // You can retrieve the icon element by
                            // $icon = data.element.data('fv.icon');

                            $icon.on('click.clearing', function() {
                                // Check if the field is valid or not via the icon class
                                if ($icon.hasClass('glyphicon-remove')) {
                                    // Clear the field
                                    data.fv.resetField(data.element);
                                }
                            });
                        })
                        .formValidation({
                            framework: 'bootstrap',
                            excluded: [':disabled'],
                            icon: {
                                valid: 'glyphicon glyphicon-ok',
                                invalid: 'glyphicon glyphicon-remove',
                                validating: 'glyphicon glyphicon-refresh'
                            },
                            live: 'enabled',
                            message: 'Valor introducido no es válido',
                            locale: 'es_ES'
                        });
                    $this
                        .on('err.field.fv', function(e, data) {
                            data.fv.disableSubmitButtons(false);
                        })
                        .on('success.field.fv', function(e, data) {
                            data.fv.disableSubmitButtons(false);
                        });
                });
                    
        });
    </script>

    {# formValidation #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsiblh/plugin/formvalidation-master/dist/js/formValidation.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsiblh/plugin/formvalidation-master/dist/js/framework/bootstrap.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsiblh/plugin/formvalidation-master/dist/js/language/es_ES.js') }}" ></script>

    {% include 'MinsalSiblhBundle:General:general_form_script.html.twig' %}
{% endblock %}